body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** ================ header ================ **/

.header {
  background: #fff;
}

.header-nav {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-blue {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu {
}

.header-menu-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link {
}

.header-menu-link:active,
.header-menu-link:hover {
  color: #404bbf;
}

.address-header {
}

.address-header-list {
}

.address-header-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-header-link:hover {
  color: #404bbf;
}

/** ================ solutions ================ **/

.solutions-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
}

.solutions-order-btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}

.solutions-order-btn:hover {
  background-color: #404bbf;
}

/** ================ items of serv ================ **/

.itemsofserv {
}

.itemsofser-list {
}

.itemsofserv-item {
}

.itemsofserv-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.itemsofserv-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ================ Our Team ================ **/

.ourteam {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.ourteam-list {
}

.ourteam-item {
}

.ourteam-img {
}

.ourteam-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.ourteam-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ================ Our Portfolio ================ **/

.ourportfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.ourportfolio-list {
}

.ourportfolio-item {
}

.ourportfolio-img {
}

.ourportfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.ourportfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ================ footer ================ **/

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer_logo-blue {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
